.header-bokhylle {
  font-size: 20px;
  color: #383838;
  display: flex;
  margin-left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.listContainer {
  display: grid;
  width: 500px;
  margin-left: 5x;
}
.listItem {
  margin-bottom: 10px;
  margin: 2px;
  display: flex;
}

.img-container {
  width: 75px;
  background-color: lightgrey;
}

.content {
  flex-grow: 1;
}

.firstLine {
  background-color: hwb(49 83% 5%);
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #383838;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.secondLine {
  background-color: white;
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.thirdLine {
  background-color: white;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  display: flex;
}
.seeMorebtn {
  margin-left: auto;
  font-size: 12px;
}

/* Scroller */
.scroll-container {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.infoWindow {
  background-color: hwb(49 83% 5%);
  width: 450px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: solid;
}
.topRightButtonContainer {
  position: absolute;
  top: 15px;
  right: 15px;
}

.topRightButton {
  font-size: 12px;
}

/*OversikftInfoboks*/
.infoHeadline {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*Oppsumeringsfelt*/
.summaryBox {
  background-color: #eee;
  height: 100px;
  width: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
}
